.container {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  overflow-x: hidden;
}

.logoContainer {
  width: 70%;
  padding-top: 1%;
  margin: auto;
}

.imageLogo {
  width: 100%;
  height: auto;
}

.socContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 50%;
  margin-inline: auto;
}

.facebook {
  max-width: 100%;
  height: auto;
}

.instagram {
  max-width: 100%;
  height: auto;
}

.youtube {
  max-width: 100%;
  height: auto;
}

.bottomContainer {
  opacity: 0.6;
}

.bottomContainer {
  display: flex;
  width: 100%;
  background-image: url("/Desktop_web_bottom.png");
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw 0vw;
}

@media all and (max-width: 750px) {
  .container {
    display: none;
  }
}
