.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-left: 3px solid black;
  border-right: 3px solid black;
  width: 33%;
  text-align: center;
  letter-spacing: 0.2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.text {
  font-size: 1.75rem;
}
