.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 33%;
  padding-left: 3vw;
}

.name {
  font-size: 1.25rem;
  letter-spacing: 0.2vw;
}

.title {
  font-size: 0.85rem;
}

.email {
  font-size: 0.85rem;
}
