.container {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

.monthname {
  font-size: 2.5em;
  text-align: center;
  color: green;
  padding-top: 5%;
  padding-bottom: 5%;
}

.eventcontainer {
  padding-left: 3%;
  padding-bottom: 5%;
}

.eventtext {
  font-size: 1.5rem;
}

@media all and (max-width: 750px) {
  .monthname {
    font-size: 4rem;
  }
  .eventtext {
    font-size: 2.25rem;
  }
}
